<section data-ng-controller="TaxesController" data-ng-init="findTypes()">
    <div class="section-header">
        <h3>Novo Imposto</h3>
    </div>

    <div class="section-body">
        <form class="form" data-ng-submit="create()" novalidate>

            <fieldset class="row">
                <div data-ng-show="error" class="alert alert-danger">
                    <strong data-ng-bind="error"></strong>
                </div>            
                <div class="form-group col-xs-12 col-sm-6 col-md-6">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group col-xs-6 col-sm-3 col-md-3">
                    <label class="control-label" for="type">Tipo</label>
                    <div class="controls">
                        <select class="form-control" data-ng-options="o.name for o in types" id="type" required 
                                data-ng-model="selectedType">
                        </select>                     
                    </div>
                </div>
                <div class="form-group col-xs-6 col-sm-3 col-md-3">
                    <label class="control-label" for="value">Valor</label>
                    <div class="controls">
                        <input type="text" ng-currency currency-symbol="R$ " min="0" id="value"
                               data-ng-model="value"  class="form-control" placeholder="Valor" required>
                    </div>
                </div>
            </fieldset>
            <fieldset class="row">
                <div class="form-group col-md-12">
                    <label class="control-label" for="description" >Descrição</label>
                    <div class="controls">
                        <textarea class="form-control" data-ng-model="description" id="description" 
                                  placeholder="Descrição" rows="5">
                        </textarea>         
                    </div>                    
                </div>
            </fieldset>
            <fieldset class="row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-success">Confirmar</button>
                    <button type="" class="btn btn-danger" ng-click="cancel()">Cancelar</button>
                </div>
            </fieldset>
        </form>
    </div>
</section>