body {
  background-color: #FFFFFF;
  color: #8a6d3b;
}

.section-header {
  padding: 15px;
  border-bottom: 1px solid;
  border-color: #D0A78E;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f2a9+0,fed696+100 */
  background: #f7f2a9; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f2a9 0%, #fed696 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f2a9), color-stop(100%,#fed696)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f2a9 0%,#fed696 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f2a9 0%,#fed696 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f2a9 0%,#fed696 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f2a9 0%,#fed696 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f2a9', endColorstr='#fed696',GradientType=0 ); /* IE6-9 */

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.section-header > h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.section-body {
  padding: 10px 15px;
}

.section-footer {
  padding: 5px;
  padding-left: 15px;
  border: 1px solid;
  border-color: #D0A78E;
  border-radius: 2px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f2a9+0,fed696+100 */
  background: #f7f2a9; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f2a9 0%, #fed696 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f2a9), color-stop(100%,#fed696)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f2a9 0%,#fed696 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f2a9 0%,#fed696 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f2a9 0%,#fed696 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f2a9 0%,#fed696 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f2a9', endColorstr='#fed696',GradientType=0 ); /* IE6-9 */
}

.nopadding {
  padding: 0 !important;
}

.nospaces {
  padding: 0 !important;
  margin: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
